<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pammos.roommigrationtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PeopleActivity" />
        <activity android:name=".SurveysActivity" />
        <activity android:name=".SurveyQuestionsActivity" />
        <activity android:name=".SurveyQuestionAnswersActivity" />
        <activity android:name=".SurveyQuestionCodedChoicesActivity" />
        <activity android:name=".SurveyEncountersActivity" />
        <activity android:name=".PeopleSurveysActivity" />
        <activity android:name=".BPMsActivity" />
        <activity android:name=".HRMsActivity" />
        <activity android:name=".AddPersonActivity" />
        <activity android:name=".AddSurveyActivity" />
        <activity android:name=".AddPersonSurveyActivity"></activity>
    </application>

</manifest>